body {
    margin: 0;
    padding: 0;
    background-color: rgb(65, 91, 126);
    text-align: center;
    color: white;

    font-family: "Reddit Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: rgb(65, 91, 126);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

h1  {
    display: flex;

}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#nameText {
    color: rgb(240, 240, 76);
    font-size: 1.3em;
}

footer {
    background-color: rgb(65, 91, 126);
}

nav {
    background-color: rgb(55, 59, 59);
    display: flex;
    justify-content: center;
    gap: 12.5%;
    font-size: small;
}

nav a {
    text-decoration: none;
    color: white;
}

nav :hover {

}

main {
    padding: 2%;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    max-width: 10000px;
}

.card {
    display: block;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0px;
}

#location {
    color: black;
    border-bottom: 1px solid grey;
    width: 70%;
    margin-left: 15%;

}

.card-title {
    background-color: rgb(65, 91, 126);
    padding: 10px;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid grey;
    border-radius: 8px 8px 0 0;
}

.card-description {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    color: black;
}

#img-me {
    width: 20%;
    margin: 20px;
}

#flag {
    width: 180%;
    margin: 20px;
}

#flag-name {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 0px;
}

#img-flag {
    border: 1px solid grey;
    width: 100%;
}

#dev-links{
    display: flex;
    height: 90%;
    text-align: left;
    align-items: center;
}

#lastModified {
    color: rgb(240, 240, 76);
    font-size: small;
}